.title {
  font-size: 50px;
  font-weight: 900;
  color: rgb(231, 214, 186);
}
.tabledata {
  background-color: rgb(109, 88, 56);
}
.table {
  width: 700px;
  margin-left: 300px;
  background-color: rgb(109, 88, 56);
  margin-top: 20px;
}
.inp1 {
  width: 170px;
  height: 25px;
  border: 3px solid green;
  border-radius: 20px;
  background-color: rgb(255, 246, 233);
}
.inp2 {
  width: 170px;
  height: 25px;
  border: 3px solid green;
  border-radius: 20px;
  background-color: rgb(255, 246, 233);
  margin-left: 5px;
}
.addbtn {  
  width: 60px;
  height: 25px;
  border: 3px solid green;
  background-color: green;
  color: rgb(0, 0, 0);
  border-radius: 20px;
  margin-left: 15px;
}
.searchinp {
  width: 170px;
  height: 25px;
  border: 3px solid rgb(235, 165, 60);
  border-radius: 10px;
  background-color: rgb(255, 246, 233);
  margin-top: 10px;
}
th {
  background-color: rgb(231, 214, 186);
}
td {
  background-color: rgb(231, 214, 186);
}
.delbtn {
  width: 80px;
  height: 30px;
  background-color: red;
}
.editbtn {
  width: 80px;
  height: 30px;
  background-color: rgb(0, 4, 255);
}
