.tabledata {
  background-color: rgb(54, 37, 0);
}
.table {
  background-color: rgb(63, 36, 0);
  margin-top: 50px;
  margin-left: 200px;
}
.searchinp {
  width: 270px;
  height: 35px;
  border: 3px solid rgb(138, 111, 48);
  border-radius: 30px;
  background-color: rgb(255, 246, 233);
  margin-top: 50px;
  margin-left: 200px;
}
th {
  background-color: rgb(255, 235, 181);
  height: 50px;
}
td {
  background-color: rgb(255, 235, 181);
}
.delbtn {
  width: 70px;
  height: 30px;
  background-color: rgb(228, 0, 0);
}
.editbtn {
  width: 70px;
  height: 30px;
  background-color: rgb(0, 3, 207);
}
.srcbtn {
  width: 60px;
  height: 25px;
  background-color: rgb(179, 148, 77);
  margin-left: 30px;
  margin-top: 25px;
}
.azsorter {
  width: 100px;
  height: 40px;
  background-color: rgb(21, 126, 0);
  border: 2 solid rgb(21, 126, 0);
  border-radius: 30px;
  margin-left: 10px;
  margin-top: 5px;
}
.zasorter {
  width: 100px;
  height: 40px;
  background-color: rgb(21, 126, 0);
  border: 2 solid rgb(21, 126, 0);
  border-radius: 30px;
  margin-left: 10px;
  margin-top: 5px;
}
.sorter {
  width: 100px;
  height: 40px;
  background-color: rgb(21, 126, 0);
  border: 2 solid rgb(21, 126, 0);
  border-radius: 30px;
  margin-left: 10px;
  margin-top: 5px;
}
.sorter-1 {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 128, 0, 0.301);
  width: 120px;
  height: 100px;
}
.sorters {
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 900px;
  top: 120px;
}
